@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', sans-serif;
}

.hero-pattern {
  position: relative;
  overflow: hidden;
}

.hero-pattern::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://perawallet.s3.amazonaws.com/images/hero-pattern.svg');
  background-color: #fcca44;
  background-size: 800px;
  background-position: center;
  background-repeat: repeat;
  opacity: 1;
  z-index: -1;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
}

.marquee-content {
  display: inline-block;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}